.hero {
  position: relative;
  padding: 39px 0 74px;
  background-color: var(--bg-hero);
}

.hero::before {
  content: '';
  width: 387px;
  height: 387px;
  position: absolute;
  top: 0;
  left: -8%;
  background: url('../../assets/images/hero/image-32.png') center / cover no-repeat;
  /* z-index: 2; */
}

.hero__slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.hero__content {
  flex: 0 0 55%;
}

.hero__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
}

.hero__title {
  margin: 12px 0;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: var(--black);
}

.hero__text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  color: var(--sub-text-color);
  margin-bottom: 27px;
}

.hero__btn {
  padding: 16px 40px;
  border-radius: 2px;
  background-color: var(--accent);
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.02em;
  color: var(--white);
}

.hero__img {
  height: 689px;
  flex: 1 0 auto;
}

.hero__img img {
  width: 706px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -150px;
  /* object-fit: cover; */
}

/* .swiper-pagination-bullet > img {
  content: url('../../assets/images/hero/bullet.png');
}

.swiper-pagination-bullet-active > img {
  content: url('../../../assets/images/slider-pagination-active.png');
} */

.pagination__bullet {
  display: inline-block;
  width: 10px;
  height: 9px;
  margin: 0 6px !important;
  border: 1px solid var(--accent);
  transform: rotate(45deg);
  background: transparent;
  border-radius: 0;
  opacity: 1;
}

.pagination__bullet:last-child {
  margin-right: 0px;
}