:root {
	--max-width: 1250px;
  --margin: 0 auto;
  --padding: 0 32px;

  --font-family: "Lato", sans-serif;
  --second-family: "Josefin Sans", sans-serif;
	
	--fs-text: 14px;
	--fs-title-h1: 53px;
	--fs-title-h2: 18px;
	--fs-title-h3: 16px;

  --bg-hero: #f2f0ff;
  --bg-product: #f6f7fb;
  --bg-shade: #eeeffb;
	--grey-text: rgba(21, 24, 117, 0.1);
	--accent: #fb2e86;
	--second: #0d0e43;
	--white: #fff;
	--black: #000;
	--purple: #9f63b5;
	--pink: #fb2e86;
	--violet: #7e33e0;
	--text: #151875;
	--title: #1a0b5b;
	--sky-blue: #00c1fe;
	--section-hover: #2f1ac4;
	--sale-tag-color: #3f509e;
	--price-tag-color: #fb2448;
	--sub-text-color: #8a8fb9;
	--page-button-color: #e0d3f5;
}