.header {
	display: flex;
	flex-direction: column;
}

.logo {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 34px;
	color: var(--second);
}

.top {
	height: 44px;
	display: flex;
	align-items: center;
	background-color: var(--violet);
}

.bottom {
	padding: 19px 0;
}

.top__container,
.bottom__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.top__contact,
.top__profile {
	display: flex;
	align-items: center;
	gap: 16px;
	color: var(--white);
}

.contact__link {
	display: flex;
	align-items: center;
	gap: 12px;
	color: var(--white);
}

.contact__link span {
	color: var(--white);
}