.nav__list {
  position: relative;
  display: flex;  
  align-items: center;
  gap: 35px;
}

.nav__item {
  font-size    : 16px;
  color        : var(--second);
  transition: 0.3s;
}

.nav__item a {
  text-transform: capitalize;
}

.active {
  color        : var(--accent);
}