.search {
	max-width: 317px;
	display         : flex;
	align-items     : center;
	justify-content: space-between;
	border: 2px solid #e7e6ef;
}

.search input {
	padding         : 7px 20px;
	background-color: transparent;
	color           : var(--second);
}

.search__btn {
	padding         : 7px;
	background-color: var(--accent);
	text-align: center;
}